head, body {
    background-color: black;
    color: whitesmoke;
    font-family: Courgette, Arial, Helvetica, sans-serif;
    margin: 0;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  

.list_wrapper {
    font-size: 4vw;
    padding: 1vw;
       
}
h1,h2,h3,h4,h5 {
    text-align: center;
}
h1 {
    font-size: 20vw;
    
}

h2,h3,h4,h5 {
    font-size: 5vw;
}


ul {
    list-style: none;
    text-align: center;
}

p {
    font-size: 4vw;
    text-align: center;
}

.btn-group button{
  background-color: black;
  border: 1em solid black;
  color: white;
  padding: 0;
  float: left;
  font-size: 10vw;
  font-family: Courgette;
}

.btn-group button:not(:last-child) {
  border-right: none; /*preventing double border */
}

.btn-group::after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: black;
}

footer {
  text-align: center;
}

footer {
  font-size: 3vw;
}